root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.{py, java, r, R}]
indent_size = 4

[*.{js, json, yml, yaml, html, cwl,bash,sh,zsh}]
indent_size = 2
tab_width = 2

[*.{md, Rmd, rst}]
trim_trailing_whitespace = false
indent_size = 2
